{% extends 'usuario_final_base.html' %} <!--3)-->

{% block title %}
Ayuda
{% endblock %}


{% block content %}

<hr class="my-4 ">

<h1 class="display-6 font-weight-bold"><center>Ayuda</center></h1>

<hr class="my-4">

<h5 class="mx-5 mr-5" ><u>Crear</u> <u>Reclamo</u></h5>

<img class="mx-5 mr-5" src="/static/imagenes_generales/Ayuda/images/image17.png" alt="imagen1" style="border-radius: 5px; border: 2px solid rgb(187, 187, 187);">

<br>

<div style="text-align: justify; text-justify: inter-word;">
    <p class="mx-5 mr-5" style="font-size: 16px;">
      En esta sección podrá crear un nuevo reclamo, para en ello deberá ingresar los siguientes datos:
      </p>
      
<p class="mx-5 mr-5" style="font-weight: bold;""><span style="font-weight: bold; color: red; ">(1)</span>Asunto (Oración que resuma el tema del reclamo)</p>
<p class="mx-5 mr-5" style="font-weight: bold;""><span style="font-weight: bold; color: red;">(2) </span>Imagen representativa (opcional)</p>
<p class="mx-5 mr-5" style="font-weight: bold;""><span style="font-weight: bold; color: red;">(3) </span>Contenido (descripción detallada)</p>
  </div>

  <div class="d-flex justify-content-center">
    <img class="mx-auto" src="/static/imagenes_generales/Ayuda/images/image16.png" alt="imagen1" style="border-radius: 5px; border: 2px solid rgb(187, 187, 187);">
</div>

<br>

<div style="text-align: justify; text-justify: inter-word;">
    <p class="mx-5 mr-5" style="font-size: 16px;">
      Si al presionar sobre el botón "CREAR" se detectan reclamos similares creados por otros usuarios, se le dará la posibilidad de adherirse a los mismos y en el caso que considere que su reclamo es diferente se procederá a crear definitivamente el reclamos ingresado si presiona sobre el botón "CONTINUAR CON LA CREACION DE MI RECLAMO".
    </p>
  </div>

  <div class="d-flex justify-content-center">
    <img class="mx-auto" src="/static/imagenes_generales/Ayuda/images/image24.png" alt="imagen1" style="border-radius: 5px; border: 2px solid rgb(187, 187, 187);">
</div>

<br>

<h5 class="mx-5 mr-5" ><u>Listar</u> <u>Reclamos</u></h5>

<img class="mx-5 mr-5" src="/static/imagenes_generales/Ayuda/images/image18.png" alt="imagen1" style="border-radius: 5px; border: 2px solid rgb(187, 187, 187);">

<div style="text-align: justify; text-justify: inter-word;">
    <p class="mx-5 mr-5" style="font-size: 16px;">
En esta sección podrá ver todos los reclamos creados por los diferentes usuarios y podrá adherirse a todos los reclamos que considere correctos haciendo click sobre el botón "ADHERIRSE"
    </p>
  </div>

  <div class="d-flex justify-content-center">
    <img class="mx-auto" src="/static/imagenes_generales/Ayuda/images/image19.png" alt="imagen1" style="border-radius: 5px; border: 2px solid rgb(187, 187, 187);">
</div>

<br>


<div style="text-align: justify; text-justify: inter-word;">
    <p class="mx-5 mr-5" style="font-size: 16px;">
      En caso de que la operación se realice correctamente le aparecerá un mensaje que confirma la adhesión:
    </p>
  </div>

  <div class="d-flex justify-content-center">
    <img class="mx-auto" src="/static/imagenes_generales/Ayuda/images/image20.png" alt="imagen1" style="border-radius: 5px; border: 2px solid rgb(187, 187, 187);">
</div>
<br>



<h5 class="mx-5 mr-5" ><u>Mis</u> <u>Reclamos</u></h5>

<img class="mx-5 mr-5" src="/static/imagenes_generales/Ayuda/images/image21.png" alt="imagen1" style="border-radius: 5px; border: 2px solid rgb(187, 187, 187);">

<br>

<div style="text-align: justify; text-justify: inter-word;">
    <p class="mx-5 mr-5" style="font-size: 16px;">
En esta sección podrá ver todos los reclamos creados por usted y así llevar un seguimiento del estado de los mismo.
    </p>
  </div>

  <div class="d-flex justify-content-center">
    <img class="mx-auto" src="/static/imagenes_generales/Ayuda/images/image22.png" alt="imagen1" style="border-radius: 5px; border: 2px solid rgb(187, 187, 187);">
</div>
<br>

<div style="text-align: justify; text-justify: inter-word;">
    <p class="mx-5 mr-5" style="font-size: 16px;">
Además verá los reclamos a los que se ha adherido anteriormente, dándole la posibilidad de desadherirse  presionando sobre el botón "DESADHERIRSE".
    </p>
  </div>

  <div class="d-flex justify-content-center">
    <img class="mx-auto" src="/static/imagenes_generales/Ayuda/images/image23.png" alt="imagen1" style="border-radius: 5px; border: 2px solid rgb(187, 187, 187);">
</div>
<br>

<h5 class="mx-5 mr-5" ><u>Mi</u> <u>Perfil</u></h5>

  <img class="mx-5 mr-5" src="/static/imagenes_generales/Ayuda/images/image9.png" alt="imagen1" style="border-radius: 5px; border: 2px solid rgb(187, 187, 187);">

  <br>
    
  <div style="text-align: justify; text-justify: inter-word;">
    <p class="mx-5 mr-5" style="font-size: 16px;">
      En esta sección usted podrá ver los datos relacionados a su cuenta de usuario y tendrá la opción de modificar sus datos personales y relacionados a su cuenta, modificando los campos correspondientes y presionando sobre el botón “Actualizar Datos”

    </p>
    </div>

    <div class="d-flex justify-content-center">
      <img class="mx-auto" src="/static/imagenes_generales/Ayuda/images/image6.png" alt="imagen1" style="border-radius: 5px; border: 2px solid rgb(187, 187, 187);">
      </div>
  
      <br>

      <div style="text-align: justify; text-justify: inter-word;">
        <p class="mx-5 mr-5" style="font-size: 16px;">
          También podrá cambiar su contraseña presionando sobre el botón “Cambiar Contraseña” que lo llevará al siguiente formulario.
        </p>
        </div>

        <div class="d-flex justify-content-center">
          <img class="mx-auto" src="/static/imagenes_generales/Ayuda/images/image4.png" alt="imagen1" style="border-radius: 5px; border: 2px solid rgb(187, 187, 187);">
          </div>

          <br>

          <div style="text-align: justify; text-justify: inter-word;">
            <p class="mx-5 mr-5" style="font-size: 16px;">
              En caso de que la operación se realice correctamente le aparecerá un mensaje que confirma tal cambio:
            </p>
          </div>

          <div class="d-flex justify-content-center">
            <img class="mx-auto" src="/static/imagenes_generales/Ayuda/images/image15.png" alt="imagen1" style="border-radius: 5px; border: 2px solid rgb(187, 187, 187);">
            </div>

            </br>
            <br>
            <br>


            {% endblock %}
            {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            
            {%- endblock scripts %}









