{% extends 'usuario_final_base.html' %} <!--3)-->

{% block title %}
Listar Reclamos
{% endblock %}

{%- block styles %}
<link rel='stylesheet' id='roboto-subset.css-css'  href='/static/css/reclamo.css' type='text/css' media='all' />
{%- endblock styles %}  

{% block content %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
      
            {% for message in messages %}
            <div class="alert alert-success mt-1" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        
     
        {% endif %}
    {% endwith %} 


    <hr class="my-4 ">

    <h1 class="display-6 font-weight-bold"><center>{{filtro}}</center></h1>
  
    <hr class="my-4">
  
    <nav class="navbar navbar-expand-lg ">
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="filtroDepartamento" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Filtrar por Departamento
                  </a>
                  <div class="dropdown-menu" aria-labelledby="filtroDepartamento">
                    <a class="dropdown-item" href="{{ url_for('listarreclamos', username=username) }}">Todos</a>
                    <form id="myForm" method="post" action="{{ url_for('listarreclamos', username=username) }}">
                        <input id="filtrar_departamento" type="hidden" name="filtrar_departamento" value="" />
                        {% for departamento in nombres_departamentos %}
                            <a class="dropdown-item" href="#" onclick="document.getElementById('filtrar_departamento').value = '{{ departamento }}'; document.getElementById('myForm').submit();">{{ departamento }}</a>
                        {% endfor %}
                    </form>
                </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="filtroEstado" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Filtrar por Estado
                  </a>
                  <div class="dropdown-menu" aria-labelledby="filtroDepartamento">
                    <a class="dropdown-item" href="{{ url_for('listarreclamos', username=username) }}">Todos</a>
                    <form id="myForm2" method="post" action="{{ url_for('listarreclamos', username=username) }}">
                        <input id="filtrar_estado" type="hidden" name="filtrar_estado" value="" />
                            <a class="dropdown-item" href="#" onclick="document.getElementById('filtrar_estado').value = 'En Proceso'; document.getElementById('myForm2').submit();">En Proceso</a>
                            <a class="dropdown-item" href="#" onclick="document.getElementById('filtrar_estado').value = 'Pendiente'; document.getElementById('myForm2').submit();">Pendiente</a>
                            <a class="dropdown-item" href="#" onclick="document.getElementById('filtrar_estado').value = 'Resuelto'; document.getElementById('myForm2').submit();">Resuelto</a>
                            <a class="dropdown-item" href="#" onclick="document.getElementById('filtrar_estado').value = 'Invalido'; document.getElementById('myForm2').submit();">Invalido</a>
                    </form>
                </div>



              </li>
          </ul>
      </div>
  </nav>


{% for reclamo in reclamos: %}

<div class="container mt-5">
    <div class="card" >
      <div class="card-two">
      <div class="card-title-box ">
        <h5 class="card-title"> Asunto: {{reclamo.asunto}}</h5>
      </div>
      <div class="cardimg card-table" style="max-width: auto; height: 200px; overflow: hidden;">
        <a href="/static/Reclamos/{{reclamo.nombre_imagen}}" >
            <img src="/static/Reclamos/{{reclamo.nombre_imagen}}" class="center mt-1 img-fluid" style="height: 96%; object-fit: contain;" alt="Imagen del reclamo">
        </a>
    </div>
      <div class="card-content-box">
        <p class="card-text">{{reclamo.contenido}}</p>
      </div>
      <div class="card-table">
        <div class="table-responsive">
            <table class="table align-middle mb-0 bg-white table-bordered text-center">
                <thead class="table-info">
                    <tr>
                        <th style="width: 10%">ID</th>
                        <th style="width: 20%">Fecha/Hora</th>
                        <th style="width: 20%">Departamento</th>
                        <th style="width: 20%">N° Adherentes</th>
                        <th style="width: 20%">Estado</th>
                        {% if reclamo.usuario_id != user.id: %}
                        <th style="width: 20%">Acción</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle">
                            <p class="fw-normal mb-1">{{reclamo.id}}</p>
                        </td>
                        <td class="align-middle">
                            <p class="fw-normal mb-1">{{reclamo.fecha_y_hora}}</p>
                        </td>
                        <td class="align-middle">
                            <p class="fw-normal mb-1">{{reclamo.departamento_correspondiente}}</p>
                        </td>
                        <td class="align-middle">
                            <p class="fw-normal mb-1">{{reclamo.numero_adheridos}}</p>
                        </td>
                        {% if reclamo.estado == "Pendiente":%}
                        <td class="align-middle">
                            <span class="badge badge-warning rounded-pill d-inline">{{reclamo.estado}}</span>
                        </td>
                        {% endif %}
    
                        {% if reclamo.estado == "En Proceso": %}
                        <td class="align-middle">
                            <span class="badge badge-info rounded-pill d-inline">{{reclamo.estado}}</span>
                        </td>
                        {% endif %}
    
                        {% if reclamo.estado == "Inválido": %}
                        <td class="align-middle">
                            <span class="badge badge-danger rounded-pill d-inline">{{reclamo.estado}}</span>
                        </td>
                        {% endif %}
    
                        {% if reclamo.estado == "Resuelto" : %}
                        <td class="align-middle">
                            <span class="badge badge-success rounded-pill d-inline">{{reclamo.estado}}</span>
                        </td>
                        {% endif %}

      {% if reclamo.usuario_id != user.id %}
    {% if reclamo.id not in ids_reclamos_adheridos %}
        <td>
            <form action="{{url_for('listarreclamos', username = username)}}" method="POST">
                <input type="hidden" name="adherirse" value="{{reclamo.id}}">
                <button type="submit" class="btn btn-info">Adherirse</button>
            </form>
        </td>
    {% else %}
        <td>
            <form action="{{url_for('listarreclamos' , username = username)}}" method="POST">
                <input type="hidden" name="desadherirse" value="{{reclamo.id}}">
                <button type="submit" class="btn btn-warning">Desadherirse</button>
            </form>
        </td>
    {% endif %}
  {% endif %}

    </tr>
  </tbody>
</table>
        </div>
  </div>
    </div>
  </div>
  </div>
 
<hr class="my-4">

  
{% endfor %}

{% endblock %}
{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%- endblock scripts %}